@import "styles/variables.scss";

.burgerMenu {
  display: none;
}

@media (max-width: 375px) {
  .burgerMenu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $DarkBlue;
    z-index: 50000000000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    &.open {
      transform: translateX(0);
      animation: slideIn 0.3s ease-in-out forwards;
    }
    &.closing {
      animation: slideOut 0.3s ease-in-out forwards;
    }
    .navMobileBg {
      background-color: $DarkBlue;
      .navMobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 71px;
        .btns {
          display: flex;
          align-items: center;
          justify-content: center;
          button,
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: $Green;
            width: 41px;
            height: 41px;
            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-top: 50px;
      margin-bottom: 50px;
      li {
        a {
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 18px;
          line-height: 130%;
          text-transform: uppercase;
          color: $Beige;
        }
      }
    }
    .burgerMenuFooter {
      height: 100%;
      background-color: $BurdgerDarkBG;
      .logoBlock {
        display: flex;
        gap: 13px;
        align-items: center;
        padding-top: 23px;
        .office {
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 20px;
          line-height: 170%;
          color: $Beige;
        }
      }
      .logoText {
        margin-top: 15px;
        margin-bottom: 11px;
        .number {
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 26px;
          line-height: 130%;
          text-transform: uppercase;
          color: $Green;
          span {
            color: $GreenLight;
          }
        }
      }
      .address {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #f8f4ef;
        color: $Beige;
      }
      .schedule,
      .openingHours {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: $GreenLight;
      }
      .schedule {
        margin-top: 25px;
      }
      .openingHours {
        margin-top: 15px;
        width: 210px;
      }
      .socialMedia {
        display: flex;
        gap: 20px;
        .socialIcons {
          margin-top: 50px;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $GreenLight;
          &:hover {
            background-color: $Green;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
