@import "styles/variables.scss";

.carouselBg {
  background-color: $Beige;
  margin-bottom: 100px;
  .carousel {
    .topInfo {
      display: flex;
      gap: 219px;
      margin-top: 109px;
      .title {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        text-transform: uppercase;
        color: $DarkBlue;
      }
      .text {
        width: 531px;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 30px;
        line-height: 160%;
        color: $GreenHover;
      }
    }
  }
}

.slider {
  max-width: 2200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 130px;
  .arrowLeft,
  .arrowRight {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: transparent;
    svg {
      width: 30px;
      background-color: transparent;
      path {
        fill: transparent;
      }
      &:hover {
        path {
          stroke: $GreenHover;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .arrowLeft {
    left: 25%;
  }
  .arrowRight {
    right: 25%;
    svg {
      transform: rotate(180deg);
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    z-index: 10;
    position: relative;
  }

  .dot {
    width: 12px;
    height: 12px;
    background-color: $DarkBlue;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .active {
    background-color: $Green;
    width: 20px;
    height: 20px;
    transition: background-color 0.3s;
  }
}

@media (max-width: 375px) {
  .carouselBg {
    background-color: $Beige;
    margin-bottom: 0;
    .carousel {
      .topInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 45px;
        .title {
          width: 345px;
          text-align: center;
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 28px;
          line-height: 140%;
          text-transform: uppercase;
          color: $DarkBlue;
        }
        .text {
          width: 202px;
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 18px;
          line-height: 160%;
          text-align: center;
          color: $GreenHover;
          padding-bottom: 25px;
        }
      }
    }
  }

  .slider {
    max-width: 2200px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0;
    .arrowLeft,
    .arrowRight {
      svg {
        width: 25px;
      }
    }
    .arrowLeft {
      left: 5%;
    }
    .arrowRight {
      right: 5%;
      svg {
        transform: rotate(180deg);
      }
    }
    .dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
      z-index: 10;
      position: relative;
    }

    .dot {
      width: 9px;
      height: 9px;
    }

    .active {
      width: 14px;
      height: 14px;
    }
  }
}

:global {
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;

    transition: transform 0.3s ease;
    opacity: 0.3;
    width: 359px !important;
    height: 230px !important;
    img {
      flex: 1 !important;
      width: 359px !important;
      height: 230px !important;
    }
  }

  .active-slide {
    width: 780px !important;
    height: 500px !important;
    z-index: 2 !important;
    img {
      flex: 1 !important;
      width: 780px !important;
      height: 500px !important;
    }
  }

  .keen-slider {
    display: flex;
    align-items: center;
  }

  .active-slide {
    overflow: unset !important;
    opacity: 1;
  }
}
